:root {
    --color-bg: hsl(0, 0%, 100%);
    --color-text: hsl(230, 17%, 14%);
}

body.dark {
    --color-bg: hsl(230, 17%, 14%);
    --color-text: hsl(0, 0%, 100%);
}


body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

#theme-toggler * {
    cursor: pointer;
}